.bend
{
	width: 1000px;
	height: 833px;
	margin: auto;
	margin-top: 23px;
	margin-bottom: 81px;
}
.bend>p:nth-child(1)
{
	font: "微软雅黑";
	font-size: 25px;
	/*font-weight: bold;*/
	text-align: center;
}
.bend>p:nth-child(2)
{
	display: inline-block;
	font-size:16px ;
	font-weight: bold;
	margin-left: 22px;
	margin-top: 26px;
}
.bend>p>span
{
	font-size:13px ;
	font-weight: 100;
	color: #676767;
}
.bend_div
{
	width: 600px;
	height: 75px;
	margin:38px auto;
	position: relative;
}

.bend_div>div
{
	width: 84px;
	height: 75px;
	background: url(../img/ico_none.gif);
	float: left;
	margin-left: 8px;
	margin-top:6px ;
}
.bend_div>div:nth-child(2)
{
	margin-left: 29px;
}

.bend_div1
{
	width: 55px;
	height: 55px;
	background: url(../img/new2_06.png) no-repeat;
	background-size:100%;
	margin:9px auto;
	position: relative;
	
}
.bend_div1>p
{
	display: inline-block;
	width: 40px;
	height: 20px;
	color: white;
	font-size: 5px;
	text-align: center;
	line-height: 20px;
	background: black;
	position: absolute;
	left: -12px;
	bottom: -10px;
}
.bend_div>div:nth-child(2) div p
{
	    bottom: -16px;
    left: -12px;
}
.bend_div>div:nth-child(2)>div
{
	
	background: url(../img/new6_03.png) no-repeat;
	background-size:100% ;
	margin: 3px auto;
}
.bend_div>div:nth-child(1)
{
	width: 13px;
	height: 43px;
	background: url(../img/ico_left.gif);
	position: absolute;
	left: -4px;
	top: 13px;
	
}
.bend_div>div:nth-child(8)
{
	width: 13px;
	height: 43px;
	background: url(../img/ico_right.gif);
	position: absolute;
	top: 13px;
	right: 0;
}

.bend_div>div:hover 
{
	border: none;
	background: url(../img/ico_bg.gif);
	cursor: pointer;
}
.bend_div>div:nth-child(1):hover 
{

	background:url(../img/ico_left.gif)
}
.bend_div>div:nth-child(8):hover 
{

	background: url(../img/ico_right.gif);
}
.bend_div2
{
	width: 613px;
	height: 608px;
	
	margin:-15px auto;
	background: url(../img/new6_03.png);
}

